@charset "euc-kr";

#vote_wrap{padding:0 !important;min-width:1064px} /* 2018-02-19 가로 길이 재 수정 */
.txt_notice{padding-top:12px;color:#666;font-size:12px;text-align:right}
/* visual area */
#gnb_area .gnb h2{float:left}
#gnb_area .gnb{background-color:#d52b1e}
#gnb_area .gnb ul li{font-size:18px;background:url(http://image1.hanatour.com/service/recommend/contents/vietnam2/gnb_bg_line.gif) no-repeat 0 center}
#gnb_area .gnb ul li a{padding:37px 15px}
.follow_fix .visual_area{padding-top:129px}
.visual_area{position:relative;width:100%;height:790px}
.visual_area span.visual_txt{position:absolute;left:50%;margin-left:-239px;bottom:300px;z-index:10}
.visual_area .visual_rolling_bg{position:relative}
.visual_area .visual_rolling_bg ul li{position:absolute;top:0;left:0;width:100%;height:790px}
.visual_area  .city_info{position:absolute;bottom:50px;left:50%;width:1042px;margin-left:-522px;background:url(img/city_info_bg.png) no-repeat 0 0;margin-top:-39px}
.follow_fix .visual_area  .city_info{background:url(img/city_info_bg.png) no-repeat 0 0}
.visual_area  .city_info ul{height:110px}
.visual_area  .city_info ul li{float:left;width:178px;padding-left:30px;letter-spacing:-1px;position:relative;height:98px;padding-top:35px}
.visual_area  .city_info ul li .tit{}
.visual_area  .city_info ul li .tit strong{font-size:13px;color:#e17704}
.visual_area  .city_info ul li .tit span{margin:0 0 0 5px;font-size:12px;color:#666;font-weight:600}
.visual_area  .city_info ul li .txt{font-size:20px;color:#000;position:absolute;top:65px;left:27px}
.visual_area  .city_info ul li .txt strong{float:left;margin:0 4px;font-size:29px;font-family:Tahoma;font-weight:600;line-height:30px}
.visual_area  .city_info ul li .txt span{float:left;font-size:16px;line-height:30px;font-weight:600}
.visual_area  .city_info ul li .visa span{font-size:15px;line-height:30px}
.visual_area  .city_info ul li .visa strong{float:left;margin:0 4px;font-size:29px;font-family:Tahoma;font-weight:600;line-height:30px}
.visual_area  .city_info ul li .visa.two_t{top:64px}
.visual_area  .city_info ul li .visa.two_t span.t{line-height:19px;margin-top:-3px}
.visual_area  .city_info ul li .visa.two_t span.t em{font-style:normal;font-size:13px}
.visual_area  .city_info ul li > span{position:absolute;left:31px;top:99px;color:#000;font-size:13px;font-weight:600}
.visual_area a.special {position:absolute;left:50%;top:501px;width:276px;height:50px;margin-left:-138px;line-height:50px;text-align:center;color:#fff;background-color:#d52b1e;font-size:16px;font-weight:600;border-radius:2px}
.follow_fix .visual_area a.special {margin-top:129px}


/* 베스트 셀러 */
.best_product_area{width:100%;height:1410px;background:url(img/best_product_area_bg.png) no-repeat 50% 50%}
.best_product_area .best_product{height:340px}
.best_product_area .best_product + .best_product{margin-top:10px}
.best_product_area .layout_area{width:1064px}
.best_product .product_info{position:relative;float:left;padding:0 0 0 30px;width:469px;height:338px;border:1px solid #e5e5e5;border-right:none}
.best_product .product_info .label{position:absolute;top:30px;right:30px}
.best_product .product_info .label span{float:left;margin-left:3px;padding:0 4px;color:#fff;font-size:12px;line-height:17px}
.best_product .product_info .label .type01{height:17px;border:1px solid #587fda;background:#6288e2}
.best_product .product_info .label .type02{height:17px;border:1px solid #329e6a;background:#3dad77}
.best_product .product_info .number{float:left;margin:46px 0 31px 0;padding:0 0 7px 0;border-bottom:2px solid #252525;font-size:20px;line-height:20px;font-family:Rockwell}
.best_product .product_info .title{display:block;clear:both;margin:0 0 13px 0;font-size:24px;color:#222;line-height:24px;font-weight:600}
.best_product .product_info .additional_txt{display:block;margin:0 30px 10px 0;font-size:15px;line-height:18px;color:#666}
.best_product .product_info .price_info{margin:0 0 20px 0;height:42px}
.best_product .product_info .price_info .sale{float:left;padding:0 23px 0 0;background:url(http://image1.hanatour.com/service/recommend/contents/alberta2/percent_icon.gif) no-repeat 100% 80%;color:#e6376c;font-size:42px;line-height:42px;letter-spacing:-2px;font-family:Tahoma;font-weight:600}
.best_product .product_info .price_info .txt{float:left;background:url(http://image1.hanatour.com/service/recommend/contents/alberta2/txt_icon.gif) no-repeat 100% 80%;color:#fff;font-size:18px;line-height:43px;letter-spacing:-2px;font-weight:600;width:62px;text-align:center}
.best_product .product_info .price_info .txt span{float:left;font-family:Tahoma;text-align:right;width:30px}
.best_product .product_info .price_info .txt em{float:left;font-style:normal;font-size:12px;color:#fff;margin:0 0 0 2px}
.best_product .product_info .price_info .now_price{float:left;margin:16px 0 0 0}
.best_product .product_info .price_info .now_price strong{float:left;color:#222;font-size:24px;line-height:24px;font-family:Tahoma}
.best_product .product_info .price_info .now_price span{float:left;margin:4px 0 0 2px;color:#222;font-size:15px}
.best_product .product_info .price_info .prev_price{float:left;margin:19px 0 0 5px;color:#747474;font-size:15px;text-decoration:line-through}
.best_product .product_info .btn_reservation{}
.best_product .product_info .btn_reservation a{display:block;width:262px;height:50px;background:#e85581;color:#fff;font-size:15px;text-align:center;line-height:50px;font-weight:600;border-radius:2px}
.best_product .product_info .btn_reservation a:hover{background:#ff5e8f}
.best_product .product_info .btn_reservation a span{padding-right:10px;background:url(http://image1.hanatour.com/service/recommend/contents/alberta2/btn_reservation_blut.png) no-repeat 100% 50%}
.best_product > img{float:left}
.best_product_area .best_product_tab{height:85px;padding-left:1px}
.best_product_area .best_product_tab a{float:left;width:530px;height:65px;line-height:65px;font-size:18px;background-color:#2a2d3a;color:#fff;text-align:center}
.best_product_area .best_product_tab a.on{background-color:#f25355}
.best_product_area .tab_box{display:none}


/* 예약특전 */
.special_gift{height:797px;background:url(img/special_gift_bg.jpg) no-repeat 50% 50%}
.special_gift .layout_area{width:1064px}
.special_gift .special_product{}
.special_gift .special_product strong{float:left;margin-top:194px}
.special_gift .special_product ul{position:relative}
.special_gift .special_product ul li{position:absolute;top:156px;left:357px}
.special_gift .special_product ul li + li{left:718px}
.special_gift .special_product ul li + li + li{top:412px;left:0}
.special_gift .special_product ul li + li + li + li{left:357px}
.special_gift .special_product ul li + li + li + li + li{left:718px}
.special_gift .layout_area p{text-align:right;padding-top:345px;color:#fff}

/* 키워드여행 */
.keyword_travel{position:relative;width:1080px;height:800px;min-width:100%}
.keyword_bg ,
.keyword_bg li{position:absolute;width:1080px;height:800px;left:0;top:0;min-width:100%}
.keyword_product{position:relative;width:1080px;margin:0 auto}
.keyword_travel h4{padding:80px 0 0 0;text-align:center}
.keyword_travel .control_box{position:relative;margin-top:30px}
.keyword_travel .control_box .left_box ul,
.keyword_travel .control_box .right_box ul{float:left}
.keyword_travel .control_box .left_box ul li,
.keyword_travel .control_box .right_box ul li{float:left;width:141px;height:141px}
.keyword_travel .control_box .left_box ul li a,
.keyword_travel .control_box .right_box ul li a{display:block;width:100%;height:100%;background-image:url(img/keyword_main_btn.png);background-position:0 0;background-repeat:no-repeat;text-indent:-9999px}
.keyword_travel .control_box .left_box ul li a:hover,
.keyword_travel .control_box .left_box ul li.on a,
.keyword_travel .control_box .right_box ul li a:hover,
.keyword_travel .control_box .right_box ul li.on a{background-image:url(img/keyword_main_btn_on.png)}
.keyword_travel .control_box .left_box ul li + li a{background-position:-154px 0px}
.keyword_travel .control_box .left_box ul li + li + li a{background-position:0 100%}
.keyword_travel .control_box .left_box ul li + li + li + li a{background-position:-160px 100%}
.keyword_travel .control_box .right_box ul li a{background-position:-309px 0}
.keyword_travel .control_box .right_box ul li + li a{background-position:-464px 0}
.keyword_travel .control_box .right_box ul li + li + li a{background-position:-321px 100%}
.keyword_travel .control_box .right_box ul li + li + li.on a,
.keyword_travel .control_box .right_box ul li + li + li:hover a{background-position:-320px 100%}
.keyword_travel .control_box .right_box ul li + li + li + li a{background-position:-481px 100% !important}
.keyword_travel .control_box .left_box{float:left;width:310px;margin:200px 0 0 0}
.keyword_travel .control_box .left_box li{margin:0 10px 18px 0}
.keyword_travel .control_box .right_box{float:right;width:310px;margin:200px 0 0 0}
.keyword_travel .control_box .right_box li{margin:0 0 18px 10px}
.keyword_travel .control_box .center_box{position:absolute;top:60px;left:50%;margin-left:-202px;width:404px;height:404px;background:url(http://image1.hanatour.com/service/recommend/contents/danang/keyword_visual_txt_bg.png) no-repeat 50% 50%}
.keyword_travel .control_box .center_box a.prev{position:absolute;top:182px;left:21px}
.keyword_travel .control_box .center_box a.next{position:absolute;top:182px;right:21px}
.keyword_travel .control_box .center_box .rolling{overflow:hidden;width:320px;height:480px;margin-left:45px}
.keyword_travel .control_box .center_box .rolling ul{margin:98px 0 0 0;width:10000px}
.keyword_travel .control_box .center_box .rolling ul li{float:left;width:320px;text-align:center}
.keyword_travel .control_box .center_box .rolling ul li .sub_t{display:block;color:#424242;font-size:18px;text-align:center}
.keyword_travel .control_box .center_box .rolling ul li .product_t{display:block;overflow:hidden;height:40px;margin:9px 0 0 0;color:#000;font-size:32px;text-align:center}
.keyword_travel .control_box .center_box .rolling ul li .price{margin:20px 0 0 0;color:#f3474d}
.keyword_travel .control_box .center_box .rolling ul li .price strong{font-size:36px;font-family:Tahoma}
.keyword_travel .control_box .center_box .rolling ul li .price span{font-size:16px;font-weight:600}
.keyword_travel .control_box .center_box .rolling ul li .txt{margin:30px 0 0 0;color:#252525;font-size:13px;text-align:center;line-height:18px}
.keyword_travel .control_box .center_box .rolling ul li .btn_area{margin:25px 0 0 0}
.keyword_travel .control_box .center_box .rolling ul li .btn_area a{display:block;margin:0 auto;width:130px;height:36px;color:#fff;background-color:#111111;line-height:36px;text-align:center;border-radius:2px}
.keyword_travel .control_box .center_box .rolling ul li .btn_area a span{padding:0 12px 0 0;background:url(http://image1.hanatour.com/service/recommend/contents/danang/btn_right_blut.png) no-repeat 100% 50%}

.tour_guide{width:100%; height:843px; background:url(img/tour_guide_bg.jpg) no-repeat 50% 50%}
.tour_guide h4.tit{padding-bottom:30px}
.tour_guide .tour_map{float:left; position:relative;margin-top:30px
}
.tour_guide .tour_map ul{}
.tour_guide .tour_map ul li{position:absolute;left:225px;top:257px}
.tour_guide .tour_map ul li a{display:block;width:80px;height:111px;font-weight:600;font-size:14px;color:#292929;background:url(img/tour_map_city.png) no-repeat 0 0;font-size:0}
.tour_guide .tour_map ul li.on a{background-position:0 -111px}

.tour_guide .tour_map ul li + li{top:330px;left:292px}
.tour_guide .tour_map ul li + li a{width:109px;height:80px;background-position:-80px 0}
.tour_guide .tour_map ul li + li.on a{background-position:-80px -111px}

.tour_guide .tour_map ul li + li + li{top:408px;left:320px}
.tour_guide .tour_map ul li + li + li a{width:111px;height:80px;background-position:-189px 0}
.tour_guide .tour_map ul li + li + li.on a{background-position:-189px -111px}

.tour_guide .tour_map ul li + li + li + li{top:283px;left:377px}
.tour_guide .tour_map ul li + li + li + li a{width:80px;height:111px;background-position:-300px 0}
.tour_guide .tour_map ul li + li + li + li.on a{background-position:-300px -111px}

.tour_guide .tour_map ul li + li + li + li + li {top:427px;left:249px}
.tour_guide .tour_map ul li + li + li + li + li a{width:80px;height:106px;background-position:-380px 0}
.tour_guide .tour_map ul li + li + li + li + li.on a {background-position:-380px -111px}

.tour_guide .tour_map ul li + li + li + li + li + li{top:376px;left:187px}
.tour_guide .tour_map ul li + li + li + li + li + li a{width:109px;height:80px;background-position:100% 0}
.tour_guide .tour_map ul li + li + li + li + li + li.on a{background-position:100% -111px}




.tour_guide .tour_map ul li a.island_01{margin-top:320px;margin-left:-280px}
.tour_guide .tour_map ul li a.island_01 span{width:80px;padding-top:60px;padding-left:0 !important}
.tour_guide .tour_map ul li a.island_02{margin-top:83px;margin-left:-260px}
.tour_guide .layout_area{width:1200px}
.tour_guide .tab_layout{float:right;width:510px;height:500px;position:relative;background-color:#fff}
.tour_guide .tab_layout > button{float:left;width:85px;height:65px;border-right:1px solid #e8e3e0;color:#000;font-size:16px;font-weight:600}
.tour_guide .tab_layout > button.on{background-color:#000;color:#fff}
.tour_guide .tab_layout .tab_contents{display:none;position:absolute;top:65px;left:0;height:513px;background-color:#fff}
.tour_guide .tab_layout .tab_contents img{}
.tour_guide .tab_layout .tab_contents h5{font-size:24px;color:#282828;font-weight:600;margin:30px 0 0 30px}
.tour_guide .tab_layout .tab_contents p{font-size:13px;color:#252525;margin:15px 0 0 30px;line-height:20px}
.tour_guide .tab_layout .tab_contents span{font-size:13px;color:#252525;display:block;padding-top:35px;background:url(img/tour_city_tip.gif) no-repeat 0 0;margin:25px 0 0 30px;line-height:20px}

/*추천스팟*/
.vote_map{width:100%;height:883px;background:url(img/vote_map_bg.jpg) no-repeat 50% 50%}
.vote_map h4.tit{padding-bottom:43px}
.vote_map .layout_area{width:1065px;margin:0 auto}
.vote_map .tour_city{position:relative;float:left;width:436px;height:590px;background-color:#fff}
.vote_map .tour_city .city{display:none;position:relative;height:472px;padding:22px 26px}
.vote_map .tour_city .city strong.tit{display:block;height:35px;margin:0 0 11px;padding:0 0 0 45px;line-height:35px;background:url(img/tour_city_icon.gif) no-repeat 0 0;font-size:22px;color:#4b4b4b}
.vote_map .tour_city .city .rolling{overflow:hidden;width:381px}
.vote_map .tour_city .city ul{width:10000px}
.vote_map .tour_city .city ul li{float:left;width:381px}
.vote_map .tour_city .city ul li > img{}
.vote_map .tour_city .city ul li span.img{display:block;padding:10px 5px;text-align:right}
.vote_map .tour_city .city ul li span.img img{}
.vote_map .tour_city .city ul li p{display:block;padding-top:3px;font-size:20px;color:#2f2f2f;line-height:22px}
.vote_map .tour_city .city ul li p strong{font-weight:600}
.vote_map .tour_city .city ul li span.tag{display:block;padding:5px 0 0 5px;font-size:14px;color:#125589;line-height:22px}
.vote_map .tour_city .city_control{position:absolute;right:9px;top:-50px;z-index:2}
.vote_map .tour_city .city_control a{float:left;height:40px;background-image:url(img/tour_city_control_btn.gif)}
.vote_map .tour_city .city_control a.prev{width:40px}
.vote_map .tour_city .city_control a.next{width:40px;background-position-x:100%;margin-left:1px}
.vote_map .tour_map{position:relative;width:628px;height:623px;float:left;margin:24px 0 0 0}
.vote_map .tour_map ul li{position:absolute;left:181px;top:24px}
.vote_map .tour_map ul li a{display:block;width:80px;height:113px;font-size:0;background-image:url(img/vote_city.png);text-indent:-9999px;background-position:0 0;background-repeat:no-repeat}
.vote_map .tour_map ul li.on a{background-position:100% 0}
.vote_map .tour_map ul li + li{left:223px;top:150px}
.vote_map .tour_map ul li + li a{background-position:0 -114px;width:114px;height:80px}
.vote_map .tour_map ul li + li.on a{background-position:-114px -114px}
.vote_map .tour_map ul li + li + li{left:201px;top:254px}
.vote_map .tour_map ul li + li + li a{background-position:0 100%;width:80px;height:113px}
.vote_map .tour_map ul li + li + li.on a{background-position:100% 100%}

/*오감만족*/
.satisfy_the_senses{width:100%;height:1430px}
.satisfy_the_senses .tab_layout{position:relative;width:529px;margin:0 auto}
.satisfy_the_senses .tab_layout.depth02{width:266px}
.satisfy_the_senses .tab_layout h6{float:left;margin-left:3px}
.satisfy_the_senses .tab_layout h6:first-child{margin:0}
.satisfy_the_senses .tab_layout h6 a{background:url(http://image1.hanatour.com/service/recommend/contents/hawaii3/satisfy_the_senses_tab.png) no-repeat 100% 0;display:block;width:130px;height:130px;line-height:130px;font-size:18px;color:#fff;text-align:center}
.satisfy_the_senses .tab_layout h6 a.on{background:#f25355 url(http://image1.hanatour.com/service/recommend/contents/hawaii3/satisfy_the_senses_tab.png) no-repeat 0 0}
.satisfy_the_senses .tab_layout .tab_contents{display:none;position:absolute;top:180px;left:0;width:1200px;left:50%;margin-left:-600px}
.satisfy_the_senses .tab_layout .tab_contents .label{position:absolute;z-index:10}
.satisfy_the_senses .tab_layout .tab_contents ul{position:relative}
.satisfy_the_senses .tab_layout .tab_contents ul li{position:absolute;top:0;left:0;opacity:0;
	/* IE 8 */
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	/* IE 5-7 */
	filter:alpha(opacity=0);opacity
}
.satisfy_the_senses .tab_layout .tab_contents ul li .txt{position:absolute;z-index:1;letter-spacing:-1px}
.satisfy_the_senses .tab_layout .tab_contents ul li .txt strong{font-size:30px;color:#000;display:block;margin-bottom:5px}
.satisfy_the_senses .tab_layout .tab_contents ul li .txt span{display:block;margin-bottom:15px}
.satisfy_the_senses .tab_layout .tab_contents ul li .txt p{font-size:14px;font-weight:600;color:#747474;line-height:20px}
.satisfy_the_senses .tab_layout .tab_contents ul li > img{position:absolute}
.satisfy_the_senses .tab_layout .label{top:340px;left:500px}
.satisfy_the_senses .tab_layout .type01 ul li {top:45px;left:80px}
.satisfy_the_senses .tab_layout .type01 ul li + li{top:0px;left:700px}
.satisfy_the_senses .tab_layout .type01 ul li + li + li{top:537px;left:214px}
.satisfy_the_senses .tab_layout .type02 ul li {top:117px;left:98px}
.satisfy_the_senses .tab_layout .type02 ul li + li{top:32px;left:622px}
.satisfy_the_senses .tab_layout .type02 ul li + li + li{top:510px;left:175px}
.satisfy_the_senses .tab_layout .type03 ul li{top:29px;left:77px}
.satisfy_the_senses .tab_layout .type03 ul li + li{top:7px;left:695px}
.satisfy_the_senses .tab_layout .type03 ul li + li + li{top:545px;left:200px}
.satisfy_the_senses .tab_layout .type04 ul li {top:118px;left:89px}
.satisfy_the_senses .tab_layout .type04 ul li + li{top:35px;left:607px}
.satisfy_the_senses .tab_layout .type04 ul li + li + li{top:520px;left:137px}

/*비디오클립*/
.banner{width:100%;height:240px;background:url(img/banner_bg.jpg) repeat-y;text-align:center}
.banner .layout_area{width:1064px;height:240px}
.banner .layout_area a{overflow:hidden;float:left;width:532px}
.video_tv{background:url(img/video_bg.jpg) no-repeat center top}
.video_tv .tab_contents ul li.guide_book{width:300px;height:540px} 
.video_tv .tab_contents ul li.guide_book a{position:absolute;left:47px;top:336px;width:206px;height:45px;background-color:#000;color:#fff;text-align:center;line-height:45px;font-size:22px;font-weight:600} 
.video_tv .tab_contents ul li + li{left:299px;width:765px;height:284px}
.video_tv .tab_contents ul li + li + li{top:284px;width:388px;height:275px}
.video_tv .tab_contents ul li + li + li + li{left:686px;width:378px}
.video_tv .tab_contents ul li span{padding-bottom:100px;margin-top:-65px;font-size:28px;font-weight:600}
.video_tv .tab_contents ul li:first-child span{padding-bottom:140px}
.video_tv .tab_contents ul li span em{display:block;font-size:28px;font-style:normal}
.video_tv.w_1064{height:783px}
.video_tv.w_1064 .tab_contents{width:1064px;margin-left:-532px}

/* 06. 이벤트 */
.event{height:1045px;background:#fbe8cd url(img/event_img.jpg) no-repeat center top}
.event .layout_area{width:1180px;padding-top:881px}
.event .layout_area a{display:block;width:400px;height:70px;margin:0 auto}

/* 2030을 위한 이달의 추천상품*/
.type_product_area{height:770px;background:url(img/reco_bg.gif) no-repeat 50% 50%}
.type_product_area .layout_area{width:800px}
.type_product_area h4.tit{padding:70px 0 50px}
.type_product_list{height:496px;margin-bottom:30px;/*margin-top:20px*/}
.type_product_list ul{}
.type_product_list ul li{position:relative;float:left;width:399px;height:496px;border-right:1px solid #e5e5e5; background-color:#fff}
.type_product_list ul li:first-child{}
.type_product_list ul li > img{position:absolute; left:0; top:0}
.type_product_list ul li .txt_box{padding-top:244px}
.type_product_list ul li .txt_box strong{overflow:hidden;display:block;padding:27px 30px 0; margin-bottom:9px; height:26px; font-size:24px;color:#222;font-weight:600}
.type_product_list ul li .txt_box p{overflow:hidden; height:38px; padding:0 30px; margin-bottom:12px; font-size:15px;color:#666;line-height:20px}
.type_product_list ul li .txt_price{padding:0 30px; margin-bottom:2px}
.type_product_list ul li .txt_price > span{display:inline-block; letter-spacing:-1px}
.type_product_list ul li .txt_price > span.price{/*font-size:15px; color:#747474; text-decoration:line-through;*/}
.type_product_list ul li .txt_price > span.dis_price{font-size:24px; font-weight:600; color:#222}
.type_product_list ul li .txt_price > span.dis_price span{font-size:15px; font-weight:normal}
.type_product_list ul li a{position:absolute;left:70px;bottom:34px;width:261px;height:50px;margin:0 auto;background-color:#e85581;color:#fff;font-size:15px;font-weight:600;line-height:50px;text-align:center;border-radius:3px}
.type_product_list ul li a span{padding-right:10px;background:url(http://image1.hanatour.com/service/recommend/contents/taiwan2/btn_right_blut.png) no-repeat 100% 50%}
.type_product_list > p{text-align:right}


